body{
    height: 100%; 
    overflow: hidden
}

h1 {
  position: fixed;
  width: 100%;
  text-align: center;
  font-family: Futura;
  height: 100%;
  top: 25%;
  color: white;
  opacity: 90%;
  font-size: 45px;
}
p {
  position: fixed;
  width: 100%;
  top: 215px;
  text-align: center;
  font-size: 30px;
  position: relative;
  font-family: Futura;
  opacity: 100%;
  color: white;
  text-decoration: solid;
}

#kotak {
  opacity: 100%;
  position: fixed;
  top: 16px;
  border-style: double;
  left: 1%;
  width: 97.3%;
  height: 94%;
  border-color: white;
  border-width: 5px;
}

img {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
#black {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 17%;
}
